.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  background: white;
}

.nav-center {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
}
.toggle-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  color: #0099ff;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo-text {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  width: 100px;
}
.btn-container {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  gap: 20px;

}

.btn-logout button{
  border-radius: 5px;
  border-color: transparent;
  color: white;
  background-color: #0099ff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;

}

.btn-logout button:hover{
  transform: scale(1.01);
}

@media (min-width: 992px) {
  .nav-center {
    width: 90%;
  }
  .logo {
    display: none;
  }
  .logo-text {
    display: block;
  }

  .toggle-btn {
    display: none;
  }

  .btn-container button {
    width: 100px;
    height: 35px;
  }
}
